{% extends 'base.html.twig'%}

{% block title %}
    Registrado con exito!   
{% endblock %}

{% block header %}    
{% endblock %}

{% block aside %}    
{% endblock %}

{% block body %}
    <div class="register-body">
        <div class="body-section-guardado">
            <div class="div-section-titulo">
            <h1>Se ha registrado con exito</h1>
            </div>

            <div class="aGuardado-div">
                <a href="{{path('index')}}" class="aGuardado">Volver a la página principal</a>
            </div>
        </div>
    </div>
{% endblock %}