{% extends "base.html.twig"%}

{% block body %}
    <i id="presentacion"></i>
    <div class="body-main">
        <div class="body-section">
            <div class="body-section-div">
                <br>
                <h1>Sobre nosotros</h1>

                <p class="p-index">
                    Restaurante Fusión en Granada, <strong>DISFRUTA DE UNA COCINA MODERNA Y ELABORADA</strong>.
                    El equipo de Nui quiere hacer llegar a toda la provincia de Granada una comida fusión, 
                    con la que disfrutar de sabores únicos y sorprendentes. No buscamos ser uno más, 
                    no buscamos ser el mejor restaurante chino, japonés, o italiano, 
                    buscamos y conseguimos brindar una autentica alucinación gastronómica.
                    <br><br>
                    En Granada puedes encontrar decenas de bares de tapas o pinchos, 
                    en los que una hamburguesa con ensalada es el plato estrella, 
                    este no es nuestro caso. Somos mucho más que un gastrobar, 
                    ofrecemos una cocina fusión de autor sin fronteras, 
                    donde nos dejamos embaucar con influencias asiáticas, latinas y españolas.
                    <br><br>
                    <b>!Vive una explosión de sabores!</b>
                </p>
            </div>
            
        </div>
        
        <div class="body-section">
            <div class="body-section-div">
                <br>
                <h1>Conócenos</h1>

                <p class="p-index">
                    UN RESTAURANTE ORIGINAL EN PLENO CENTRO DE LA CAPITAL
                    Olvídate de las comidas rápidas para llevar, 
                    relájate y disfruta de una cena romántica con tu pareja,
                    una cena de empresa o una simple cena de amigos. Con Nui llega la revolución a las listas
                    de los mejores sitios para cenar en Granada. Un gastrobar donde nuestra cocina 
                    moderna sorprende y agrada a cada uno de los paladares que se anima a visitarnos.
                    <br><br>
                    Si visitas la ciudad y quieres llevarte una experiencia 
                    gastronómica única en la capital, disfrutar de un almuerzo 
                    con nosotros debe ser una actividad obligatoria.
                </p>
            </div>
        </div>
        
        <i id="ubicacion"></i>
        <div class="body-section-ubicacion">
            <div class="body-section-div-ubicacion">
                <br>
                <h1>Ubicación</h1>
                <p>Podrás encontrarnos en la localidad de <strong>illora</strong></p>
                <img onclick="ampliarUbi()" id="imgUbi" class="img-ubicacion" src="images/Ubicacion2.jpg">
                <a href="images/Ubicacion2.jpg" target="_blank" id="imgUbi" class="img-ubicacion-responsive">Ver imagen</a>
            </div>
        </div>
    <div>
    
{% endblock %}
